p.variant {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  margin: 0em;
}

time,
p.moves,
p.status {
  font-size: 0.75em;
}

p.status {
  text-align: center;
}

p.winner {
  color: #aedf77;
}

p.loser {
  color: #e79c9c;
}
