@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Roboto:wght@100&display=swap');

body {
  background: #161512 linear-gradient(to bottom, #2e2a24, #161512 7em);
  font-family: 'Noto Sans', sans-serif;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-y: hidden;
  color: #bababa;
  display: flex;
  height: 100vh;
}

h1 {
  font-family: 'Roboto', sans-serif;
}
